

<section class="section fade-in">
<h2>Willkommen</h2>
  <p>
    auf der offiziellen Webseite von Funk Culture! Hier findest du alle aktuellen Informationen zu unserer Band, bevorstehenden Auftritten und neuen Musikveröffentlichungen.  
  </p>
<h2>Musik</h2>
<div class="video-container">
  <iframe src="https://youtu.be/a46TNipZiqs?si=5_pbE27y0GDb6YcQ" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          allowfullscreen>
  </iframe>
</div>
</section>


<footer>
  <p>
    © Funk Culture ·
    <a href="impressum.html">Impressum</a> ·
    <a href="datenschutz.html">Datenschutz</a>
  </p>
</footer>
