<section class="section fade-in">
  <h2>Galerie</h2>

<div class="gallery">
  <div class="gallery-item">
    <img src="static/img/gallery1.jpg" alt="Bild 1">
    <div class="caption-content" hidden>
    </div>
  </div>
  <div class="gallery-item">
    <img src="static/img/gallery2.jpg" alt="Bild 2">
    <div class="caption-content" hidden>
      Photo by Clara Franziska
    </div>
  </div>
  <div class="gallery-item">
    <img src="static/img/gallery3.jpg" alt="Bild 3">
    <div class="caption-content" hidden>
      Logo
    </div>
  </div>
  <div class="gallery-item">
    <img src="static/img/gallery4.jpg" alt="Bild 4">
    <div class="caption-content" hidden>
      Photo by <a href="https://www.instagram.com/maxi_photographer?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">maxi_photographer</a>
    </div>      
  </div>
  <div class="gallery-item">  
    <img src="static/img/gallery5.jpg" alt="Bild 5">
    <div class="caption-content" hidden>
      Photo by <a href="https://www.instagram.com/maxi_photographer?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">maxi_photographer</a>
    </div>
  </div>
  <div class="gallery-item">
    <img src="static/img/gallery6.jpg" alt="Bild 6">
    <div class="caption-content" hidden>
      Photo by <a href="https://www.instagram.com/maxi_photographer?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">maxi_photographer</a>
    </div>
  </div>  
</div>
</section>

<div class="lightbox" id="lightbox">
  <span class="close">&times;</span>
  <img src="" alt="">
  <div class="caption"></div>
</div>

<footer>
  <p>
    © Funk Culture ·
    <a href="impressum.html">Impressum</a> ·
    <a href="datenschutz.html">Datenschutz</a>
  </p>
</footer>

