<section class="section fade-in">
  <h2>Galerie</h2>

<div class="gallery">
  <div class="gallery-item">
    <img src="static/img/gallery1.webp" alt="Bild 1" loading="lazy">
    <div class="caption-content" hidden>
    </div>
  </div>

  <div class="gallery-item">
    <img src="static/img/gallery2.webp" alt="Bild 2" loading="lazy">
    <div class="caption-content" hidden>
      Foto by clarafranziska 
    </div>
  </div>

  <div class="gallery-item">
    <img src="static/img/gallery3.webp" alt="Bild 3" loading="lazy">
    <div class="caption-content" hidden>
      Logo
    </div>
  </div>


  <div class="gallery-item">
    <video src="static/img/Tanzbrunnen_clip(1).mp4" muted loop playsinline preload="metadata"></video>
    <div class="caption-content" hidden>
      Clip vom Tanzbrunnen
    </div>
  </div>

  <div class="gallery-item">  
    <img src="static/img/gallery5.webp" alt="Bild 5" loading="lazy">
    <div class="caption-content" hidden>
      Foto by <a href="https://www.instagram.com/maxi_photographer?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">maxi_photographer</a>
    </div>
  </div>

  <div class="gallery-item">
    <img src="static/img/gallery4.webp" alt="Bild 4" loading="lazy">
    <div class="caption-content" hidden>
      Foto by <a href="https://www.instagram.com/maxi_photographer?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">maxi_photographer</a>
    </div>      
  </div>

  <div class="gallery-item">
    <img src="static/img/gallery6.webp" alt="Bild 6" loading="lazy">
    <div class="caption-content" hidden>
      Foto by <a href="https://www.instagram.com/maxi_photographer?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">maxi_photographer</a>
    </div>
  </div>

  <div class="gallery-item">
    <img src="static/img/gallery7.webp" alt="Bild 7" loading="lazy">
    <div class="caption-content" hidden>
      Foto by clarafranziska 
    </div>
  </div>

  <div class="gallery-item">
    <img src="static/img/gallery8.webp" alt="Bild 8" loading="lazy">
    <div class="caption-content" hidden>
      Foto by clarafranziska 
    </div>
  </div>

  <div class="gallery-item">
    <img src="static/img/gallery9.webp" alt="Bild 9" loading="lazy">
    <div class="caption-content" hidden>
      Foto by <a href="https://www.instagram.com/maxi_photographer?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">maxi_photographer</a>
    </div>
  </div>

  <div class="gallery-item">
    <img src="static/img/gallery10.webp" alt="Bild 10" loading="lazy">
    <div class="caption-content" hidden>
      Foto by <a href="https://www.instagram.com/maxi_photographer?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">maxi_photographer</a>
    </div>
  </div>

  <div class="gallery-item">
    <img src="static/img/gallery11.webp" alt="Bild 11" loading="lazy">
    <div class="caption-content" hidden>
      Foto by clarafranziska 
    </div>
  </div>

  <div class="gallery-item">
    <video src="static/img/CuKa_clip(1).mp4" muted loop playsinline preload="metadata"></video>
    <div class="caption-content" hidden>
      Clip von der CuKa
    </div>
  </div>

  <div class="gallery-item">
    <img src="static/img/gallery12.webp" alt="Bild 12" loading="lazy">
    <div class="caption-content" hidden>
      Foto by clarafranziska 
    </div>
  </div>

  <div class="gallery-item">
    <img src="static/img/gallery13.webp" alt="Bild 13" loading="lazy">
    <div class="caption-content" hidden>
      Foto by clarafranziska 
    </div>
  </div>

  <div class="gallery-item">
    <video src="static/img/CuKa_clip(2).mp4" muted loop playsinline preload="metadata"></video>
    <div class="caption-content" hidden>
      Clip von der CuKa
    </div>
  </div>

  <div class="gallery-item">
    <img src="static/img/KuCa_8_7_26(1).webp" alt="Bild 16" loading="lazy">
    <div class="caption-content" hidden>
      KuCa 8.7.26
    </div>
  </div>

  <div class="gallery-item">
    <img src="static/img/KuCa_8_7_26(2).webp" alt="Bild 14" loading="lazy">
    <div class="caption-content" hidden>
      KuCa 8.7.26
    </div>
  </div>

  <div class="gallery-item">
    <img src="static/img/Brunnen_16_6_26.webp" alt="Bild 15" loading="lazy">
    <div class="caption-content" hidden>
      Tanzbrunnen 16.6.26
    </div>
  </div> 
</div>
</section>

<div class="lightbox" id="lightbox">
  <span class="close">&times;</span>
  <img src="" alt="">
  <div class="caption"></div>
</div>

<footer>
  <p>
    © Funk Culture ·
    <a href="impressum.html">Impressum</a> ·
    <a href="datenschutz.html">Datenschutz</a>
  </p>
</footer>

