<section class="section fade-in">
  <h2>Kontakt</h2>
  <p>
    Booking & Anfragen:<br>
    <a href="mailto:info@funkculture.de" class="mail">
      info<span style="display:none">spam</span>@funkculture.de
    </a>

    <script>
      const user = "info";
      const domain = "funkculture.de";
      const link = document.getElementById("mail-link");

      link.href = "mailto:" + user + "@" + domain;
      link.textContent = user + "@" + domain;
    </script>
  </p>
</section>



<footer>
  <p>
    © Funk Culture ·
    <a href="impressum.html">Impressum</a> ·
    <a href="datenschutz.html">Datenschutz</a>
  </p>
</footer>