<section class="section fade-in">
  <h2>Über uns</h2>
  <p>
    Wir sind FUNK CULTURE – eine siebenköpfige Funkformation aus Freiburg, bestehend aus professionellen Musikern an 
    Gitarre, Gesang, Schlagzeug, Percussion, Piano, Bass und Saxophon. Entstanden ist die Band aus der aktivistischen Formation
    <a href="https://forfutureband.de/" target="_blank">FOR FUTURE BAND</a>, die in identischer Besetzung spielt.
  </p>
  <p>
    Im Mittelpunkt unseres Programms stehen die großen Funk- und
    Disco-Funk-Klassiker von Acts wie den Jackson Five, Jamiroquai
    und Earth, Wind & Fire. 
  </p>


  <h2>Die Band</h2>
  <div class="band-grid">

    <div class="member fade-in">
      <img src="static/img/julian.jpg" alt="Julian Schneider – Drums">
      <h3>Julian Schneider</h3>
      <span>Drums</span>
    </div>

    <div class="member fade-in">
      <img src="static/img/aaron.jpg" alt="Aaron Kreideweiß – Gesang/Keys">
      <h3>Aaron Kreideweiß</h3>
      <span>Gesang · Keys</span>
    </div>

    <div class="member fade-in">
      <img src="static/img/elli.jpg" alt="Elli Hussain – Saxophon">
      <h3>Elia Hussain</h3>
      <span>Saxophon</span>
    </div>

    <div class="member fade-in">
      <img src="static/img/carlo.jpg" alt="Carlo Borth – Bass/Gitarre/Keys">
      <h3>Carlo Borth</h3>
      <span>Bass · Gitarre · Keys</span>
    </div>

    <div class="member fade-in">
      <img src="static/img/miran.jpg" alt="Miran Hussain – Bass">
      <h3>Miran Hussain</h3>
      <span>Bass · Gitarre</span>
    </div>

    <div class="member fade-in">
      <img src="static/img/robin.jpg" alt="Robin Stark – Percussion">
      <h3>Robin Stark</h3>
      <span>Percussion</span>
    </div>

    <div class="member fade-in">
      <img src="static/img/jan1.jpg" alt="Jan Klementz – Gitarre">
      <h3>Jan Klementz</h3>
      <span>Gitarre</span>
    </div>

  </div>
</section>

<footer>
  <p>
    © Funk Culture ·
    <a href="impressum.html">Impressum</a> ·
    <a href="datenschutz.html">Datenschutz</a>
  </p>
</footer>
