<section class="section fade-in">
  <h2>Über uns</h2>

    <div class="band-grid">

    <div class="member fade-in">
      <img src="static/img/julian.jpg" alt="Julian – Drums">
      <h3>Julian</h3>
      <span>Drums</span>
    </div>

    <div class="member fade-in">
      <img src="static/img/aaron.jpg" alt="Aaron – Gesang/Keys">
      <h3>Aaron</h3>
      <span>Gesang · Keys</span>
    </div>

    <div class="member fade-in">
      <img src="static/img/elli.jpg" alt="Elli – Saxophon">
      <h3>Elli</h3>
      <span>Saxophon</span>
    </div>

    <div class="member fade-in">
      <img src="static/img/carlo.jpg" alt="Carlo – Bass/Gitarre/Keys">
      <h3>Carlo</h3>
      <span>Bass · Gitarre · Keys</span>
    </div>

    <div class="member fade-in">
      <img src="static/img/miran.jpg" alt="Miran – Bass">
      <h3>Miran</h3>
      <span>Bass · Gitarre</span>
    </div>

    <div class="member fade-in">
      <img src="static/img/robin.jpg" alt="Robin – Percussion">
      <h3>Robin</h3>
      <span>Percussion</span>
    </div>

  </div>
</section>

<footer>
  <p>
    © Funk Culture ·
    <a href="impressum.html">Impressum</a> ·
    <a href="datenschutz.html">Datenschutz</a>
  </p>
</footer>
